body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#000;
    color:white;
}

.hero{
    text-align:center;
    padding:40px 20px;
    background:linear-gradient(black,#220000);
}

.logo{
    width:180px;
    border-radius:50%;
}

h1{
    color:#f7c948;
    margin-top:20px;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 22px;
    background:#d62828;
    color:white;
    text-decoration:none;
    border-radius:10px;
}

.shop{
    padding:30px;
}

.card{
    background:#111;
    padding:20px;
    margin-bottom:20px;
    border-radius:16px;
    border:1px solid #333;
}

.card img{
    width:100%;
    border-radius:12px;
}

button{
    padding:10px 18px;
    border:none;
    border-radius:10px;
    margin-right:10px;
    background:#f7c948;
    cursor:pointer;
}

.booking{
    padding:30px;
    background:#111;
}

form{
    display:flex;
    flex-direction:column;
}

input{
    padding:12px;
    margin-bottom:12px;
    border-radius:10px;
    border:none;
}

.events{
    padding:30px;
}

.event-box{
    background:#1c1c1c;
    padding:20px;
    border-radius:12px;
}

footer{
    text-align:center;
    padding:20px;
    background:#080808;
}
